.sectionB{
  background-color:#EEEEEE ;  
  display:flex;
  
  padding: 60px 0px 20px ;
}
b{
    color:#FF8C32 ;
    font-size:1.5em;
    font-family: 'Nunito', sans-serif;
}
.discussiondiv{
flex:50%;
display: flex;
flex-wrap: wrap;
justify-content:center;

& div:nth-child(1){
    
    width: 60%;
        }

}
.experience{
    flex:50%;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    & div:nth-child(1){
    
        width: 60%;
            }

   
}
h6{
    margin-top:0px;
    font-family: 'Nunito', sans-serif;
    
}
@media(max-width:768px) {
    .sectionB h2{
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
    }
    
    .discussiondiv{
        flex:50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0px 10px 0px 10px;
        
        & div:nth-child(1){
            
            width:inherit;
                }
        
        }

        .experience{
            flex:50%;
            display:flex;
            flex-wrap: wrap;
            justify-content:flex-start;
            padding: 0px 10px 0px 10px;
            & div:nth-child(1){
            
                width: inherit;
                    }
        
           
        }
}