.myProject{
    margin-bottom: 0px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:white;
    margin: 3px;
}
.project{
    border-radius: 5px;
    flex:33%;
    margin: 4px;
    
    
}
.project p{
color:black;


}
.myProject a{
    
    text-decoration: none;
    
    }
.imgContainer{
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    
    
}
.imgContainer img{
    width: 100%;
    height: auto;
    object-fit: cover;;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0px;

 
  
    
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    
}
a{
    margin: 0px;
}

@media (max-width: 728px) {
    .project{
        flex:25%; 
        max-width: 190px; 
    
    
    }
    .imgContainer{
        width: 100%;
        
        border-radius: 5px;
        
        
    }
    p{
        font-family: 'Nunito', sans-serif;
        font-size: 12px;
        
    }

}