.scrollb{
    background-color: orange;
    width: 50px;
    height: 50px;
    z-index: 99;
    position: fixed;
    display: block;
  bottom: 50px;
  right: 10px;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}

@keyframes bounce {
    0% { bottom:43px; }
    100% { bottom:50px; }
    
    
  }

  @media(max-width: 768px) {
    scrollb button{
        background-color: orange;
        display: block;
        width: 50px;
        height: 50px;
        z-index: 99;
        position: fixed;
      bottom: 50px;
      right: 10px;
      border-radius: 50%;
      animation-name: bounce;
      animation-duration: 0.3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      
    }
    
    @keyframes bounce {
        0% { bottom:43px; }
        100% { bottom:50px; }
        
      }
    
  }